<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   th:fragment="parent(content, title)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">this is a base page</title>
<link
	href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
	rel="stylesheet" />
<!-- 	fontawesme cdn link -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
	integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
        <div th:replace="~{user/user_side_navbar::user_navbar}" ></div>
        <div th:replace="${content}"></div>

	<script
		src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>
</html>